<div id="domainContent">
	<div id="domainContainers">
		<div id="domainNotifications">
			<ul class="bulletList">
				<li>Domains represent logincal containers of cloid configurations against which permissions are applied by individual roles</li>
				<li>Scopes represent individual clouds</li>
				<li>DOMAINS IN USER CANNOT BE REMOVED</li>
			</ul>
		</div>
		<div id="domainCreate">
			<table>
			<tr class="trpopHeading"><td colspan="2">Create New Domain</td></tr>
			<tr><td class="tr-header">Domain:</td><td><input type="text"></td></tr>
			<tr><td class="blank-line"></td></tr>	
			<tr><td class="tr-header">Scope:</td><td><select><option>Select Scope</option></select></td></tr>
			<tr><td class="blank-line"></td></tr>	
			<tr><td colspan="2"> <input type="submit" class="btn btn-danger btn-sm btn-right" value="Create Domain" /></td></tr>
		</table>	 
		</div>
	</div>
	<div id="domainList">
		<table>
			<tr class="trpopHeading"><th collspan="2" class="popHeading">Existing Domains</th></tr>
			<tr class="tr-header"><th>Domain</th><th>Scope</th></tr>
        	<tr class="trrows">
            	<td>Thunder</td>
                <td>Thunder everything</td>  
            </tr>
            <tr><td class="blank-line"></td></tr>
            <tr class="trrows">
            	<td>Thunder</td>
                <td>Thunder everything</td>  
            </tr>
            <tr>
            	<td>Thunder</td>
                <td>Thunder everything</td>  
            </tr>
            <tr>
            	<td>Thunder</td>
                <td>Thunder everything</td>  
            </tr>
            <tr>
            	<td>Thunder</td>
                <td>Thunder everything</td>  
            </tr>	 
            <tr>
            	<td>Domain 1</td>
                <td>Cloud name</td>  
            </tr>
            <tr>
            	<td>Thunder</td>
                <td>Thunder everything</td>  
            </tr>
            <tr>
            	<td>Thunder</td>
                <td>Thunder everything</td>  
            </tr>	 
            <tr>
            	<td>Domain 1</td>
                <td>Cloud name</td>  
            </tr>	 
            <tr>
            	<td>Domain 2</td>
                <td>Cloud name, cloud name XYZ</td>  
            </tr>
            <tr><td class="blank-line"></td></tr>	            
		</table>			
	</div>	
</div>