{% extends "base.html" %}
{% block title %}Insights{% endblock %}
{% block head %}Insights{% endblock %}
{% block content %} 
<!-- top section -->
<div class="top-head">
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Cloud Compute Capacity</div>
		<div class="col-xs-12">Current Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Total Consumption</div>		
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Node Hypervisor Utilization</div>
		<div class="col-xs-12">Current Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Total Consumption</div>		
	</div>	
	<div class="col-md-12 top-buffer"></div> 
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Cloud Compute Capacity</div>
		<div class="col-xs-12">Current Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Total Consumption</div>		
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Cloud Compute Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Current Utilization</div>
		<div class="col-xs-12">Average Utilization</div>
		<div class="col-xs-12">CPU Per Process</div>		
	</div>
	<div class="col-md-12 top-buffer"></div>
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Cloud Compute Capacity</div>
		<div class="col-xs-12">Current Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Total Consumption</div>		
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Cloud Compute Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Current Utilization</div>
		<div class="col-xs-12">Average Utilization</div>	
		<div class="col-xs-12">RAM Per Process</div>	
	</div>
	<div class="col-md-12 top-buffer"></div>
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Cloud Compute Capacity</div>
		<div class="col-xs-12">Current Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Total Consumption</div>		
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5 tablebg">
		<div class="col-xs-12 panel-title bottom-buffer">Cloud Compute Capacity</div>
		<div class="col-xs-12">Current Capacity</div>
		<div class="col-xs-12">Recommended Consumption</div>
		<div class="col-xs-12">Total Consumption</div>	
	</div>	 	
</div> 
{% endblock %}