<div id="support-option">
    <div class="row">
        <div class="col-sm-12 col-xs-12 support_bdr" id="supportContent">
            <div id="support-options-avail">
                <div class="row">
                    <div class="col-sm-12">
                        <b>Commercial Support</b>
                        <p>AQORN supports Thunder-powered clouds and unlike our competitors, 
                            we offer commercial support for OpenStack clouds deployed by individuals 
                            or our competitors. Please visit us today at 
                            <a class="blue-lnk" href="http://www.aqorn.com/support">http://www.aqorn.com/support</a> 
                            for a quote.</p>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <b>Premiere Support</b>
                        <p>- 24 / 7 / 365<br>- Phone, Email and Helpdesk</p>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <b>Standard Support</b>
                        <p>- Monday-Friday,8.00AM - 5PM Customer local time.<br>- Email and Helpdesk</p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>