{% extends "thunderadmin/base.html" %} 
{% block title %}Reset Password{%endblock%} 
{% block head %}Reset Password{% endblock %}
{%block content %}
<div id="login" class="reset">
    <form method="post" action=".">
        <fieldset class="clearfix">
            {% for field in form %}
                <p>
                    <span class="fontawesome-laptop"></span>{{field}}
                </p>
            {% endfor %}
            <p>
                <input type="submit" value="Reset Password" class="btn btn-info" {% if emailSet %} disabled="disabled" title="Update DNS to enable password recovery"{% endif %}>
            </p>
            {% csrf_token %}
        </fieldset>
    </form>
</div>
{% endblock %}
